:root {
	--cyan: #00fff7;
	--blue: #8bacda;
	--dark: #211437;
	--dark-purple: #eaeaea;
	--light-purple: #8254d2;
	--hover-light-purple: #c29fff;
	--black: #000000;
	--white: #ffffff;
}

.color-black {
	color: var(--black);
}

.list-group-item {
	color: var(--white);
	background-color: var(--light-purple);
}

.list-group-item:hover {
	color: var(--black);
	background-color: var(--hover-light-purple);
}

.color-blue { 
	color: var(--light-purple);
}

.color-blue:hover { 
	color: var(--black);
}

.color-cyan {
	color: var(--cyan);;
}

.color-cyan:hover {
	color: var(--black);;
}

.background-color-dark {
	background-color: var(--dark);
}

.background-color-dark-purple {
	background-color: var(--dark-purple);;
}

.background-color-light-purple {
	background-color: var(--light-purple);;
}

.setoff {
	box-shadow: 0.2rem 0.2rem 1rem black;
}